/*
 LOS PANELES DE LA APP DEBEN SEGUIR EL SIGUIENTE FORMATO:
 -border: var(--border);
 -border-radius: 20px;
 -background-color: var(--color-2)
 -box-shadow: var(--box-shadow)

 EN CASO DE TENER UN HEADER O UN SIDEBAR:
 --border-bottom: var(--border)
 --background-color: var(--color-4)
*/

:root {
  --color-0: #979E7C;
  --color-1: #767c5e;
  --color-3: #22260F;

  --border: solid 3px #2d2731;
  --box-shadow: -5px 5px 0 #22260F;
}

#root {
  width: 100vw;
  height: 100vh;

  background-color: #6e745a;
  opacity: 1;
  background-size: 80px 80px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: #22260F;
}
*::-webkit-scrollbar {
  background-color: var(--color-2-bold);
  border-radius: 20px;
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #2d273178;
  
  border-radius: 20px;
}
svg {
  color: #22260F;
}


.panel {
  background-color: var(--color-0);
  border: var(--border);
  box-shadow: var(--box-shadow);
  z-index: 9999;
}


.input1 {
  border: none;
  border-bottom-style: dashed;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}
.input1[type=number] {
  -webkit-appearance: none;
  appearance: none;
}
.input1[type=number]::-webkit-inner-spin-button {
  display: none;
}
